@media (max-width: 576px) {
    .welcome img{
        height: 150px;
        width: 150px;
        margin-right: 30px;
    }
    .tech-stack li{
        font-size: 20px;
        width: 30px;
        padding-left: 5px;
    }
}
