@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Kanit:wght@300;600;700&family=Ubuntu&display=swap');

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #EBF1F8;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
}

.pallete {
    color: #2D3E4E;
    color: #8CBDB9;
    color: #E09E50;
    color: #E8ECEB;
}

.box {
    box-shadow: #32325d40 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
}

.a {
    text-decoration: none;
    color: #000;
}

.a:hover {
    color: #E09E50;
}

.theme {
    background-color: #2D3E4E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome {
    color: #FFF;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.welcome img {
    float: right;
    margin-right: 100px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.welcome-heading {
    font-size: 14px;
}

.welcome p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

ul.tech-stack {
    padding: 0;
    margin: 0;
}

.tech-stack li {
    box-shadow: #32325d40 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    background-color: #E09E50;
    border-radius: 3px;
    width: 50px;
    padding-left: 10px;
}

.download-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.download-btn a {
    display: block;
    padding: 10px 30px;
    background-color: #8CBDB9;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease-in-out;
}

.download-btn a:hover {
    background-color: #E09E50;
}

.social-collapse {
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #8CBDB9;
    color: #FFF;
    position: fixed;
    top: 70px;
    left: 10px;
    z-index: 1;
    transition: all 0.3s ease;
}

.social-collapse:hover,
.social-collapse:focus {
    background-color: #E09E50;
    color: #fff;
}

.social-media-buttons {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.social-media-buttons a {
    display: block;
    font-size: 20px;
    margin: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 50%;
    background: #333;
    transition: all 0.3s ease;
}

.social-media-buttons .phone {
    background: #007bff;
}

.social-media-buttons .whatsapp {
    background: #25d366;
}

.social-media-buttons .gmail {
    background: #ea4335;
}

.social-media-buttons .github {
    background: #333;
}

.btn-primary {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}